.convertor {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

.i {
  display: flex;
  justify-content: center;
  color: #666;
  font-size: 1.05rem;
}

.currentText {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  margin: 0 auto;
}

.currentText h1 {
  color: black;
  font-size: 1.8rem;
  margin: 2rem 0;
}

.currentText p {
  font-size: 1rem;
  line-height: 1.5;
  color: #444;
}
